<div class="navbar-wagon">
  <div class="navbar-wagon-left hidden-xs hidden-sm">
    <%= link_to "Tous les procès", projects_path, { :class=>"navbar-wagon-item navbar-wagon-link" } %>
    <%= link_to "Carte des procès", map_path, { :class=>"navbar-wagon-item navbar-wagon-link" } %>
  </div>
  <%= cl_image_tag("allo_justice_logo_qrifki.png", :quality=>"auto:best") %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>
<%= link_to "Aide", map_path, { :class=>"navbar-wagon-item navbar-wagon-link" } %>
    <!-- Profile picture and dropdown -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "/" do %>
            <i class="fa fa-home"></i>  <%= t(".profile", default: "Accueil") %>
            <% end %>
            <li>
              <%= link_to "/dashboard" do %>
              <i class="fa fa-folder-open"></i> <%= t(".profile", default: "Mes procès") %>
              <% end %>
            </li>
            <li>
              <%= link_to "/dashboard" do %>
              <i class="fa fa-usd"></i> <%= t(".profile", default: "Mes contributions") %>
              <% end %>
            </li>
          </li>
          <li>
            <%= link_to "/dashboard" do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Mon profil") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
<button type="button" data-toggle="modal" data-target="#new_procès" class="navbar-wagon-button">
      Ajouter un procès
    </button>
    <% else %>
    <!-- Login text link -->
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>

    <!-- Button (call-to-action) -->


    <div class="modal fade" id="new_procès" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Ajouter un procès</h4>
          </div>
          <% @project = Project.new %>
          <%= simple_form_for @project do |f| %>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :name %>
                <%= f.input :description %>
                <%= f.input :address %>
                <%= f.input :city %>
                <%= f.input :goal ,label: 'Quel montant souhaitez-vous?'%>
              </div>
              <div class="col-md-6">
                <%= f.input :category, collection: Project::CATEGORIES, as: :radio_buttons %>
                <%= f.input :photo, as: :attachinary %>
                <%= f.input :echeance, as: :date, start_year: Date.today.year, end_year: Date.today.year + 100, :order => [:day, :month, :year]%>
              </div>
            </div>
          </div>
          <div class="modal-footer">
           <%= f.button :submit, "Ajouter un procès" , class:'navbar-wagon-button' %>
         </div>
         <% end %>
       </div>
     </div>
   </div>


 </div>


 <!-- Dropdown list appearing on mobile only -->
 <div class="navbar-wagon-item hidden-md hidden-lg">
  <div class="dropdown">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li><%= link_to "Tous les procès", projects_path, { :class=>"navbar-wagon-item navbar-wagon-link" } %></li>
      <li><%= link_to "Carte des procès", map_path, { :class=>"navbar-wagon-item navbar-wagon-link" } %></li>
      <% if user_signed_in? %>
      <li><%= link_to "Profil", dashboard_path, { :class=>"navbar-wagon-item navbar-wagon-link" } %></li>
      <% else %>
      <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
      <% end %>
    </ul>
  </div>
</div>
</div>

