<% @title = "Profil" %>
<div class="wrapper">

  <div id="dashboard-head">

    <div class="row">
      <div class="col-xs-2">
       <img src="<%= @user.facebook_picture_url %>" >
     </div>
     <div class="col-xs-6" style="text-align: left">
      <h1> Bonjour <%=@user.first_name%> ! </h1>
      <!--       <h2> Retrouvez tous vos procès ici : </h2> -->
    </div>
    <div class="col-xs-4" style="text-align: left">
      <h2> Mon profil </h2>
      <h3> <%= link_to "Éditer mon profil", edit_user_registration_path %> </h3>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="dashboard-tabs">
        <a class="dashboard-tab active" data-target="#mesprojets">
          <h3>Mes procès (<%= @projects.count %>) </h3>
        </a>
        <a class="dashboard-tab" data-target="#mescontribut">
          <h3>Mes contributions (<%= @contributions.count %>) </h3>
        </a>
        <a class="dashboard-tab active" data-target="#mesrdv">
          <h3>Mes rendez-vous (<%= @my_bookings.count %>) </h3>
        </a>
      </div>
    </div>
  </div>

  <div class="dashboard-tab-content row" id="mesprojets">
      <h2>Vos procès </h2> <br>
        <div style="width:100%; justify-content:center">
          <% @projects.each do |project| %>
          <div class="col-xs-12 col-sm-6 col-md-6">
          <%= link_to  project_path(project) do %>
          <!-- insert <div class="card"> -->
          <div class="card" style="background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.63)), url('<% if project.photo? %> <%= cl_image_path(project.photo.path)%> <% else %> <%=  %> <% end %>'); background-size: cover;" >
            <!-- image de fond et titre -->
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 row-photo" >
                <h3><%= project.name %></h3>
              </div>
            </div>
            <!-- barre de progression -->
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <% @project_contributions = Contribution.select{ |contribution| contribution.project_id == project.id.to_i}
                @sum = 0
                @project_contributions.each do |contribution|
                  @sum += contribution.amount
                  end %>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=(@sum.fdiv(project.goal) * 100).round(0)%>%;">
                    </div>
                  </div>
                </div>
              </div>
              <!-- informations collecte -->
              <div class="row">
                <!-- backers -->
                <div class="col-sm-3  col-sm-offset-1">
                  <p><%= @project_contributions.length %> backers</p>
                </div>
                <!-- goal -->
                <div class="col-sm-4 middle">
                  <p><%= @sum %> € / <%= project.goal %> €</p>
                </div>
                <!-- jours restant -->
                <div class="col-sm-3">
                  <% @today = Time.now.strftime("%Y-%m-%d")
                  @elapsed_day = (project.echeance - @today.to_date).to_i %>
                  <p><%= @elapsed_day %> jours</p>
                </div>
              </div>
            </div>
            <% end %>
              </div>
            <% end %>
          <p></p>
        </div>
    </div>

    <div class="dashboard-tab-content hidden" id="mescontribut">
      <div class="col-xs-12 row">
        <h2>Vos contributions </h2>
        <% @contributions.each do |contribution| %>
        <p><%= contribution.amount %> € pour <%= link_to contribution.project.name, project_path(contribution.project) %></p>
        <% end %>
      </div>
    </div>

    <div class="dashboard-tab-content row hidden" id="mesrdv">

      <div class="col-xs-12 row">
        <div class="col-xs-6">
          <h2> Vos rendez-vous avec un avocat </h2>
           <% @my_bookings.each do |booking| %>
          <p> Du <%= booking.start_date %> au <%= booking.end_date %> <br>
          <%= link_to booking.project.name, project_path(booking.project) %> <br>
          Statut : <%= booking.status %> </p>
          <% end %>
        </div>

        <div class="col-xs-6">
          <h2> Vos rendez-vous avec vos contributeurs </h2>
          <p>  <% @projects.each do |project| %>
                  <h3> <%= project.name %> </h3>
                  <% @project_bookings = Booking.select{ |booking| booking.project_id == project.id }  %>
                  <% @project_bookings.each do |project_booking| %>
                   <p> <%= project_booking.user.first_name %> <br> Du <%= project_booking.start_date %> au <%= project_booking.end_date %> <br>
                  Statut : <%= project_booking.status %>
                  <br> <% if project_booking.status == "Pending" %>
                  <%= link_to "Accept", validate_project_booking_path(project, project_booking),
                  controller: :bookings, method: :validate, class: "btn btn-success" %>
                   <%= link_to "Declined", decline_project_booking_path(project, project_booking),
                  controller: :bookings, method: :decline, class: "btn btn-danger" %>
                   </p>
                  <% end %>
                  <% end %>

              <% end %>
           </p>
        </div>
      </div>
    </div>
  </div></div></div></div></div>

