<br>
  <h1> Bonjour <%=@user.first_name%> ! </h1>
  <h2> Retrouvez tous vos procès ici : </h2>
<br>

<div class="container">

  <div class="col-xs-12 col-sm-4" id="section">
    <div class="row" >
        <h2>Mon profil</h2>
        <p> <%=@user.first_name%> <%=@user.last_name%>
      </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4" id="section" >
    <div class="row" >
      <h2>Your projects</h2>
      <div style="width:100%; justify-content:center">
        <% @projects.each do |project| %>
        <%= link_to  project_path(project) do %>
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.63)), url('<% if project.photo? %> <%= cl_image_path(project.photo.path)%> <% else %> <%=  %> <% end %>'); background-size: cover;" >
          <!-- image de fond et titre -->
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 row-photo" >
              <h3><%= project.name %></h3>
            </div>
          </div>
          <!-- barre de progression -->
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <% @contributions = Contribution.select{ |contribution| contribution.project_id == project.id.to_i}
              @sum = 0
              @contributions.each do |contribution|
                @sum += contribution.amount
                end %>
                <div class="progress">
                  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=(@sum.fdiv(project.goal) * 100).round(0)%>%;">
                  </div>
                </div>
              </div>
            </div>
            <!-- informations collecte -->
            <div class="row">
              <!-- backers -->
              <div class="col-sm-3  col-sm-offset-1">
                <p><%= @contributions.length %> backers</p>
              </div>
              <!-- goal -->
              <div class="col-sm-4 middle">
                <p><%= @sum %> € / <%= project.goal %> €</p>
              </div>
              <!-- jours restant -->
              <div class="col-sm-3">
                <% @today = Time.now.strftime("%Y-%m-%d")
                @elapsed_day = (project.echeance - @today.to_date).to_i %>
                <p><%= @elapsed_day %> jours</p>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
        <p></p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4" id="section">
      <div class="row">
        <h2>Your contribution</h2>
        <% @contributions.each do |contribution| %>
        <%= contribution.amount %> € pour <%= contribution.project.name %>
        <% end %>
      </div>
    </div>
