<% @title = "Editer le projet" %>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Modifiez votre projet en cours</h1>
      <%= simple_form_for @project do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :goal ,label: 'Quel montant souhaitez-vous?'%>
        <%= f.button :submit, class: 'btn btn-info'%>
      <% end %>
    </div>
  </div>
</div>
