  <div class="container" id="container-index">
  <h1> Découvrez tous les procès </h1>
  <h2> Décidez quelle cause vous souhaitez défendre </h2>
    <div class="row">
      <% @projects.each do |project| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to  project_path(project) do %>
        <div class="card" style="background-image: url('<%= cl_image_path(project.photo.path, crop: :fill)%>');">
          <div class="card-category"> <%= project.category %> </div>
          <div class="card-description">
            <h2> <%= project.name %> </h2>
            <%    @contributions = Contribution.select{ |contribution| contribution.project_id == project.id.to_i}
            @sum = 0
            @contributions.each do |contribution|
              @sum += contribution.amount
              end %>
              <h3> <%= @sum %> sur <%= project.goal %> </h3>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
