<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Ajouter un nouveau procès! gagnez plein d'argent!</h1>
      <%= simple_form_for @project do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.input :city %>
        <%= f.input :category, collection: Project::CATEGORIES %>
        <%= f.input :goal ,label: 'Quel montant souhaitez-vous?'%>
        <%= f.input :photo, as: :attachinary %>
        <%= f.input :echeance, as: :date, start_year: Date.today.year, end_year: Date.today.year + 100, :order => [:day, :month, :year]%>
        <%= f.button :submit, class: 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDANjx3bosEtIyzJaoWs50Wnt6nt_1rmxU"></script>
<% end %>
