<div class="container">
  <h1> Découvrez <%= @project.name %> </h1>
  <h2> <%= @project.name %> </div> </h2>
  <h2> <%= @project.description %> </h2>
  <h3> <%= @project.goal %> </h3>
  <h2> Je soutiens cette cause ! </h2>
  <ul>
    <% @contributions.each do |contribution| %>
    <li><%= contribution.amount %></li>
    <% end %>
  </ul>
</div>
