<div class="container">
  <h1> Découvrez <%= @project.name %> </h1>
  <div class="row" style="margin: 10px">
      <div class="col-xs-12 col-sm-9">
        <div class="row">
          <div class="col-xs-2" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://lorempixel.com/200/200/people/');">
            <br/><br/><br/><br/><br/><br/>
          </div>
          <div class="col-xs-10">
            <h2><%= @sum %> € sur <%= @project.goal %>€</h2>
            <div class="progress">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentage%>%;">
                  <%= @percentage%>%
                </div>
              </div>
            </div>
            <p> 56 jours restants </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p><%= @project.user.first_name %> <%= @project.user.last_name %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= simple_form_for [@project, @contribution] do |f| %>
          <%= f.input :amount %>
          <%= f.submit "Participez", class: "btn btn-primary" %>
        <% end %>
      </div>
  </div>

  <div class="row" style="margin: 10px">
    <h3>Description </h3>
    <p><%= @project.description %></p>
  </div>

  <div class="row" style="margin: 10px">
    <div class="col-xs-12 col-sm-9">
      <h3> Ils ont soutenu cette cause</h3>
      <ul><% @contributions.each do |contribution| %>
        <li><p> : <%= contribution.amount %> €</p></li>
      <% end %></ul>
    </div>
    <div class="col-xs-12 col-sm-3">
      <h3>Check avaibility</h3>
    </div>
  </div>
</div>


